.trade_container {
    margin-top: 20px;
    border: 2px solid darkgreen;
    padding: 20px;
}
.newTradeTable {
    margin-top: 150px;
    td {
        color: white;
        font-size: 18px;
    }
    
}